<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="org.tyss.sms001.MavenPractic1Test"/>
      <class name="org.tyss.sms001.MavenPractice3Test"/>
      <class name="org.tyss.sms001.MavenPractice2Test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
